{% extends "site_base.html" %}

{% load bootstrap account_tags backend_utils i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% trans "Log in to an existing account" %}</legend>
                {% csrf_token %}
                {% for field in form %}
                {% ifequal field.name 'remember' %}
                <div class="form-group">
                    <div class="checkbox">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                </div>
                {% else %}
                {{ field|bootstrap }}
                {% endifequal %}
                {% endfor %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
            </form>
            {% if ACCOUNT_OPEN_SIGNUP %}
                <p class="login-signup">
                    <small>
                        {% trans "Don't have an account?" %}  <strong><a href="{% urlnext 'account_signup' %}">{% trans "Sign up" %}</a></strong>
                    </small>
                </p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <legend>{% trans '… or enter using social login' %}</legend>
            {% for sublist in available_backends|social_backends %}
            {% for name, backend in sublist %}
            {% associated backend %}
            {% if association %}
            <form class="disconnect-form col-md-2" id="{{ name }}-disconnect" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">
                {% csrf_token %}
                <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    Disconnect {{ backend|backend_name }}
                </a>
            </form>
            {% else %}
            {% if name == "google-plus" %}
            <div class="col-md-4">
                <div class="btn btn-social btn-{{ name|icon_name }}" id="{{ name }}-button" name="{{ backend|backend_class }}">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    {{ backend|backend_name }}
                </div>
            </div>
            {% else %}
            <div class="col-md-4">
                <a class="btn-social btn btn-{{ name|icon_name }}" id="{{ name }}-button" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    {{ backend|backend_name }}
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
