{% extends 'blog/blog_base.html' %}{% load comments sitetree i18n bootstrap_pagination bleach_tags humanize %}
{% block head_title %}{{ site.name }} | {% sitetree_page_title from 'main' %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-8">
                    {% sitetree_breadcrumbs from 'main' template 'sitetree_custom/breadcrumbs.html' %}
                    <h1>
                    {% if filter_date %}
                        {% trans 'Posts by' %} {{ filter_date|naturalday }}
                    {% elif tag %}
                        {% trans 'Posts by tag' %} <span class="small">&laquo;{{ tag }}&raquo;</span>
                    {% else %}
                        {% trans 'Last posts' %}
                    {% endif %}
                    </h1>
                    {% for post in posts %}
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'blog:post' post.id %}">
                                <h3><i class="glyphicon glyphicon-link"></i> {{ post.title }}</h3>
                            </a>
                            <p>{% if post.published %}{{ post.published|naturaltime }}{% else %}{{ post.created|naturaltime }}{% endif %}</p>
                            {{ post.text|bleach|truncatewords:45 }}
                            <div style="clear: both"></div>
                            <p class="pull-left">
                                <a class="btn btn-default btn-sm" href="{% url 'blog:post' post.id %}#comments">
                                    <i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;{% get_comment_count for post as comment_count %}{{ comment_count }}
                                </a>
                            </p>
                            <p class="pull-right">
                                {% for tag in post.tags.all %}
                                <span class="label label-default dog-tag">
                                    <a href="{% url 'blog:index' %}?tag={{ tag.name|iriencode }}">
                                        <i class="glyphicon glyphicon-tag"></i>&nbsp;&nbsp;{{ tag.name }}
                                    </a>
                                </span>
                                &nbsp;
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    {% if not forloop.last %}<hr />{% endif %}
                    {% endfor %}
                    {% bootstrap_paginate posts url_param_name='p' %}
                </div>
                <div class="col-md-4">
                    {% include 'search/_search.html' %}
                    {% include 'blog/_rss_feed.html' %}
                    {% include 'calendar/calendar.html' %}
                </div>
            </div>
{% endblock %}