{% extends 'site_base.html' %}
{% load bootstrap bootstrap_pagination i18n sitetree bleach_tags humanize %}
{% block head_title %}{{ site.name }} | {% sitetree_page_title from 'main' %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-8">
                    {% sitetree_breadcrumbs from 'main' template 'sitetree_custom/breadcrumbs.html' %}
                    <form role="form" class="form-horizontal" method="get" action=".">
                        {{ form.q|bootstrap_horizontal }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                {{ form.models.label }}
                            </label>
                            <div class="col-sm-10">
                            {% for checkbox in form.models %}
                                <div class="checkbox">
                                    {{ checkbox.tag }}
                                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">
                                    {% trans 'Search' %}
                                </button>
                            </div>
                        </div>
                    </form>
                    {% if query %}
                    <h3>Results</h3>
                        {% for result in page.object_list %}
                        <a href="{{ result.object.get_absolute_url }}">
                            <h3><i class="glyphicon glyphicon-link"></i> {{ result.object.title }}</h3>
                        </a>
                        <p>{% if result.object.published %}{{ result.object.published|naturaltime }}{% else %}{{ result.object.created|naturaltime }}{% endif %}</p>
                        {{ result.object.text|bleach|truncatewords:45 }}
                        {% if not forloop.last %}<hr />{% endif %}
                        {% empty %}
                        <p>No results found.</p>
                        {% endfor %}
                        {% bootstrap_paginate page %}
                    {% else %}
                    <p class="center">{% trans 'No results' %}</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% include '_last_posts.html' %}
                </div>
            </div>
{% endblock %}