{% load i18n bleach_tags comments humanize %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'Last posts' %}</h3>
                        </div>
                        <div class="panel-body">
                            {% for post in last_posts %}
                            <div class="media">
                                <div class="media-body small">
                                    <a href="{% url 'blog:post' post.id %}">
                                        <h5 class="media-heading">
                                            <i class="glyphicon glyphicon-link"></i> {{ post.title }}
                                        </h5>
                                    </a>
                                    <p class="small">{% trans 'Posted' %} {{ post.published|naturaltime }}</p>
                                    {{ post.text|bleach|truncatewords:30 }}
                                    <div style="clear: both"></div>
                                    <p class="small pull-left">
                                        <a class="btn btn-default btn-xs" href="{% url 'blog:post' post.id %}#comments">
                                            <i class="glyphicon glyphicon-comment">
                                            </i>&nbsp;{% get_comment_count for post as comment_count %}{{ comment_count }}
                                        </a>
                                    </p>
                                    <p class="small pull-right">
                                        {% for tag in post.tags.all %}
                                        <span class="label label-default dog-tag">
                                            <a href="{% url 'blog:index' %}?tag={{ tag.name|iriencode }}">
                                                <i class="glyphicon glyphicon-tag"></i>&nbsp;&nbsp;{{ tag.name }}
                                            </a>
                                        </span>
                                        &nbsp;
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>