{% extends 'account/base.html' %}

{% load i18n avatar_tags bootstrap %}

{% block head_title %}{% trans 'Avatar' %}{% endblock %}

{% block body %}
    <div class="col-md-8">
        <form enctype="multipart/form-data" method="POST">
            <legend>{% trans "Your avatars" %}</legend>
            <p>{% trans 'Click on the avatar to set it primary.' %}</p>
            <p>{% trans 'Click on a red button below the avatar to delete it.' %}</p>
            {% for av in avatars %}
            <p class="img-thumbnail avatar{% if av.primary %} primary-avatar{% endif %}">
                <a href="{% url 'primary-avatar' av.id %}">
                    <img src="{{ av.get_absolute_url }}" />
                </a>
                <br />
                <a class="btn btn-danger btn-xs" href="{% url 'delete-avatar' av.id %}">
                    ×
                </a>
            </p>
            {% endfor %}
            {% if not avatars %}
            <div class="alert alert-info" role="alert">
                {% trans 'You haven’t uploaded an avatar yet. Please upload one now.' %}
            </div>
            {% endif %}
            <legend>{% trans "Upload avatar" %}</legend>
            <p>{% trans 'You can upload up to 5 avatars.' %}</p>
            {{ upload_avatar_form|bootstrap }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">
                {% trans 'Upload' %}
            </button>
        </form>
    </div>
{% endblock %}