{% load comments i18n bootstrap %}
<form class="form-horizontal" action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% else %}
            {% ifequal field.name 'honeypot' %}
            <span style="display:none">
                {{ field|bootstrap_horizontal }}
            </span>
            {% endifequal %}
        {% endif %}
    {% endfor %}
    {% if not request.user.is_authenticated %}
        {{ form.name|bootstrap_horizontal }}
        {{ form.email|bootstrap_horizontal }}
    {% endif %}
        {{ form.title|bootstrap_horizontal }}
        {{ form.comment|bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button name="preview" type="submit" class="btn btn-default">{% trans 'Preview' %}</button>
            <button name="post" type="submit" class="btn btn-primary pull-right">{% trans 'Post it' %}</button>
        </div>
    </div>
</form>
