{% extends 'site_base.html' %}{% load sitetree text_block_tags i18n %}
{% block head_title %}{{ site.name }} | {% sitetree_page_title from 'main' %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-8">
                    {% sitetree_breadcrumbs from 'main' template 'sitetree_custom/breadcrumbs.html' %}
                    <h1>{{ flatpage.title }}</h1>
                    {{ flatpage.content }}
                </div>
                <div class="col-md-4">
                    {% include 'search/_search.html' %}
                    {% include '_last_posts.html' %}
                </div>
            </div>
{% endblock %}